PROVIDER_URL=
ACCOUNT_PUBLIC=
ACCOUNT_PRIVATE=
EVENT_EMITTER=
ORACLE=
ROLE_STORE=
DATA_STORE=
ORDER_VAULT=
DEPOSIT_VAULT=
ORDER_HANDLER=
DEPOSIT_HANDLER=
ORDER_UTILS=
INCREASE_ORDER_UTILS=
FEE_TOKEN=
MARKET_FACTORY=
