# GENERAL
NET=sepolia
ENV=dev

# KEEPER
ACCOUNT_PUBLIC=
ACCOUNT_PRIVATE=

KEEPER_HTTP_PROVIDER_URLS=https://api-starknet-sepolia.dwellir.com/1b4bd5e6-e3bd-4732-9178-3a66c45f0952,https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_7/-xREXsAaaQDXnEY1ZQmOqhcBjnQbbvza,https://rpc.nethermind.io/sepolia-juno/?apikey=5v9T3rXRGAeZz446aA7GjxCneADe2vZ3N9HdotFQH4DQBIM3,https://starknet-sepolia.blastapi.io/e38e0729-e402-4759-b0d1-dce28898f3ff/rpc/v0_7,https://starknet-sepolia.infura.io/v3/2106130ac5734a04b3b1db1588ee9bad,https://free-rpc.nethermind.io/sepolia-juno,https://starknet-sepolia.public.blastapi.io/rpc/v0_7
KEEPER_WSS_PROVIDER_URL=wss://starknet-sepolia.core.chainstack.com/ws/03f2df5827677607a763d57683622e54

FEE_TOKEN=0x0161304979f98530f4c3d6659e0a43cad96ceb71531482c7aaba90e07f150315
HERMES_URL=https://hermes.pyth.network
KEEPER_SENTRY_DNS=

# INDEXER
INDEXER_URL=https://indexer-sepolia.wolfy.trade/
INDEXER_PORT=3001
INDEXER_PROVIDER_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_7/eVJH-YcwoFpbl98OYbKvvzMGTP730kd1
INDEXER_SENTRY_DNS=

# BACKEND
BACKEND_PORT=3002
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=dewlabs
DATABASE_PASS=
DATABASE_NAME=sepolia_checkpoint
CA_CERT=
BACKEND_SENTRY_DNS=
